<div class="col-lg-4 col-sm-6">
   <div class="product-item">
      <div class="pi-pic">
         <!-- per il momento l'immagine rimane sempre la stessa -->
         <img src="skins/template/img/products/product-1.jpg" alt="" />

         <div class="icon">
            <i class="icon_heart_alt"></i>
         </div>
         <ul>
            <li class="w-icon active">
               <a href="#"><i class="icon_bag_alt"></i></a>
            </li>
         </ul>
      </div>
      <div class="pi-text">
         <div class="catagory-name">Towel</div>
         <a href="#">
            <h5><[NOME_PRODOTTO]></h5>
         </a>
         <div class="product-price"><[PREZZO_PRODOTTO]>€<span>35.00€</span></div>
      </div>
   </div>
</div>
