<tr>
   <td class="cart-pic first-row">
      <img src="<[URL_IMMAGINE]>" alt="" style="height: 140px" />
   </td>
   <td class="cart-title first-row">
      <h5><[NOME_PRODOTTO]></h5>
   </td>
   <td class="p-price first-row"><[PREZZO_SINGOLO]> €</td>
   <td class="qua-col first-row">
      <div class="quantity">
         <div class="pro-qty">
            <input type="text" value="<[QUANTITA]>" />
         </div>
      </div>

      <!-- <div class="quantita">
         <div class="inc-dec-q">
            <span class="dec-q-btn">-</span>
            <input type="text" value="1" />
            <span class="inc-q-btn">+</span>
         </div>
      </div> -->
   </td>
   <td class="total-price first-row"><[PREZZO_TOTALE]> €</td>
   <td class="close-td first-row"><i class="ti-close"></i></td>
</tr>
