<link rel="stylesheet" href="skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="skins/template/css/style.css" type="text/css" />
<div>
    <form>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <select class="form-control" id="categoria">
          <option value="opzione1">Opzione 1</option>
          <option value="opzione2">Opzione 2</option>
          <option value="opzione3">Opzione 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="marca">Marca</label>
        <select class="form-control" id="marca">
          <option value="opzione1">Opzione 1</option>
          <option value="opzione2">Opzione 2</option>
          <option value="opzione3">Opzione 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" maxlength="20">
      </div>
      <div class="form-group">
        <label for="descrizione">Descrizione</label>
        <input type="text" class="form-control" id="descrizione" maxlength="50">
      </div>
      <div class="form-group">
        <label for="prezzo">Prezzo</label>
        <input type="number" class="form-control" id="prezzo">
      </div>
      <div class="form-group">
        <label for="genere">Genere</label>
        <select class="form-control" id="genere">
          <option value="opzione1">Opzione 1</option>
          <option value="opzione2">Opzione 2</option>
          <option value="opzione3">Opzione 3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="campo1">TAGLIA S</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="decrement1">-</button>
          </div>
          <input type="number" class="form-control" id="campo1" value="0">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="increment1">+</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="campo2">TAGLIA M</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="decrement2">-</button>
          </div>
          <input type="number" class="form-control" id="campo2" value="0">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="increment2">+</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="campo2">TAGLIA L</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="decrement2">-</button>
          </div>
          <input type="number" class="form-control" id="campo2" value="0">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="increment2">+</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="campo3">TAGLIA XL</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="decrement3">-</button>
          </div>
          <input type="number" class="form-control" id="campo3" value="0">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="increment3">+</button>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Salva</button>
    </form>
  </div>
  <script src="skins/template/js/jquery-3.3.1.min.js"></script>
  <script src="skins/template/js/bootstrap.min.js"></script>
  <script src="skins/template/js/jquery-ui.min.js"></script>
  <script src="skins/template/js/jquery.countdown.min.js"></script>
  <script src="skins/template/js/jquery.nice-select.min.js"></script>
  <script src="skins/template/js/jquery.zoom.min.js"></script>
  <script src="skins/template/js/jquery.dd.min.js"></script>
  <script src="skins/template/js/jquery.slicknav.js"></script>
  <script src="skins/template/js/owl.carousel.min.js"></script>
  <script src="skins/template/js/main.js"></script>
  <script src="skins/template/js/filtriAjax.js"></script> 
  <script src="skins/template/js/changeAdminCenterAjax.js"></script>  

  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="./skins/template/js/filtriAjax.js"></script>