<html>
  <head>
    <link rel="stylesheet" href="../skins/template/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/themify-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="../skins/template/css/style.css" type="text/css" />
  </head>
  <body>
    <div class="container">
        <form method="post" action="<[ACTION_FORM]>">
          <div class="form-group">
            <label for="ttt"><[CAT_MAR]></label>
            <input type="text" class="form-control"  name="<[NAME_FIELD]>">
          </div>
          <button type="submit" class="btn btn-primary">salva</button>
        </form>
        <[errore]>
    </div>
  </body>
</html>