<html lang="zxx">
   <body>
      <!-- Page Preloder -->
      <div id="preloder" style="display: none">
         <div class="loader" style="display: none"></div>
      </div>

      <!-- Breadcrumb Section Begin -->

      <!-- Shopping Cart Section Begin -->
      <section class="checkout-section spad">
         <div class="container">
            <form class="checkout-form" id="tot-form-checkout" action="checkout.php" method="post">
               <div class="row">
                  <div class="col-lg-6">
                     <!-- <h4>Informazioni di spedizione</h4>
                     <div class="row">
                        <div class="col-lg-6">
                           <label for="fir">Nome<span>*</span></label>
                           <input type="text" id="fir" />
                        </div>
                        <div class="col-lg-6">
                           <label for="last">Cognome<span>*</span></label>
                           <input type="text" id="last" />
                        </div>

                        <div class="col-lg-12">
                           <label for="cun">Paese<span>*</span></label>
                           <input type="text" id="cun" />
                        </div>
                        <div class="col-lg-12">
                           <label for="street">Indirizzo / Via<span>*</span></label>
                           <input type="text" id="street" class="street-first" />
                        </div>

                        <div class="col-lg-12">
                           <label for="cap">Codice postale (CAP)<span>*</span></label>
                           <input type="text" id="street" class="street-first" />
                        </div>
                        <div class="col-lg-12">
                           <label for="town">Città<span>*</span></label>
                           <input type="text" id="town" />
                        </div>
                        <div class="col-lg-6">
                           <label for="email">Indirizzo email<span>*</span></label>
                           <input type="text" id="email" />
                        </div>
                        <div class="col-lg-6">
                           <label for="phone">Cellulare<span>*</span></label>
                           <input type="text" id="phone" />
                        </div>
                        <div class="col-lg-12"></div>
                     </div> -->

                     <!--  -->
                     <h4>Seleziona il tuo indirizzo:</h4>
                     <form
                        class="row d-flex justify-content-center align-items-center h-100"
                        action="address-setup.php?set=1"
                        method="post"
                     >
                        <div class="col-md-12 form-group p_star">
                           <div class="discount-coupon">
                              <h6 for="regione">i tuoi indirizzi</h6>
                              <select class="form-control" id="regione" required>
                                 <[reg]>
                                 <!-- JQUERY FILLING -->
                              </select>
                           </div>
                        </div>

                        <!--  -->

                        <div class="col-md-12 form-group p_star">
                           <div class="discount-coupon">
                              <h6 for="provincia">Provincia</h6>
                              <select class="form-control" id="provincia">
                                 <[pro]>
                                 <!-- JQUERY FILLING -->
                              </select>
                           </div>
                        </div>
                        <div class="col-md-12 form-group p_star">
                           <div class="discount-coupon">
                              <h6 for="citta">Citta</h6>
                              <select class="form-control" id="citta">
                                 <[cit]>
                                 <!-- JQUERY FILLING -->
                              </select>
                           </div>
                        </div>
                        <div class="col-md-8 form-group p_star">
                           <div class="discount-coupon">
                              <h6 for="address">Indirizzo</h6>
                              <input
                                 type="text"
                                 class="form-control"
                                 id="address"
                                 name="address"
                                 value="<[via]>"
                                 placeholder="Indirizzo"
                              />
                           </div>
                        </div>
                        <div class="col-md-3 form-group p_star">
                           <div class="discount-coupon">
                              <h6 for="postal_code">CAP</h6>
                              <input
                                 type="text"
                                 class="form-control"
                                 id="postal_code"
                                 name="postal_code"
                                 value="<[cap]>"
                                 placeholder="CAP"
                              />
                           </div>
                        </div>
                     </form>
                  </div>

                  <!--  -->
                  <div class="col-lg-6">
                     <div class="place-order">
                        <h4>Il tuo ordine</h4>
                        <div class="order-total">
                           <ul class="order-table">
                              <li>Prodotti<span>Totale</span></li>
                              <[foreach]> <[PRODOTTO_CART]> <[/foreach]>
                              <li class="fw-normal">Subtotal <span> <[SUBTOTAL]> € </span></li>
                              <li class="total-price">Totale<span> <[SUBTOTAL]> € </span></li>
                           </ul>
                           <div class="payment-check"></div>
                           <div class="order-btn">
                              <div class="discount-coupon">
                                 <h6>Codice sconto</h6>
                                 <form id="form-checkout" action="checkout.php" class="coupon-form" method="post">
                                    <input
                                       type="text"
                                       id="coupon"
                                       name="coupon"
                                       placeholder="Hai un codice promo?"
                                       required
                                    />
                                    <button id="applica-button" class="site-btn coupon-btn">applica</button>
                                 </form>
                              </div>
                              <button type="submit" class="site-btn place-btn">Conferma ordine</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </section>
      <!-- Shopping Cart Section End -->
   </body>
</html>

<!-- calcolare il prezzo totale finale -->
<!-- se viene attivato un coupon il prezzo cambia -->

<script>
   // lo faccio dopo
   $("#applica-button").on("click", function () {
      let prezzoSingolo = parseFloat("<[PREZZO_SINGOLO]>");
      if (parseFloat($("#qt<[ID_PRODOTTO]><[TAGLIA_PRODOTTO]>").val()) === 1) {
      } else {
         let currQ = parseFloat($("#qt<[ID_PRODOTTO]><[TAGLIA_PRODOTTO]>").val()) - 1;
         let currTot = prezzoSingolo * currQ;
         currTot = currTot.toString();
         str1 = '<span class="tot-price-product"></span>';
         str2 = "€</td>";
         strtot = str1 + currTot + str2;
         $("#totPrice<[ID_PRODOTTO]><[TAGLIA_PRODOTTO]>").html(strtot);

         let spanSTR = $("#idtotshoppingcartitem").html();
         spanSTR = spanSTR.slice(0, spanSTR.length - 2);
         spanSTR = parseFloat(spanSTR) - parseFloat(currTot);
         spanSTR = spanSTR.toString() + " €";
         $("#idtotshoppingcartitem").html(spanSTR);
      }
   });
</script>
