<html lang="zxx">
   <body>
      <!-- Page Preloder -->
      <div id="preloder" style="display: none">
         <div class="loader" style="display: none"></div>
      </div>

      <!-- Breadcrumb Section Begin -->

      <!-- Shopping Cart Section Begin -->
      <section class="checkout-section spad">
         <div class="container">
            <form action="#" class="checkout-form">
               <div class="row">
                  <div class="col-lg-6">
                     <h4>Informazioni di spedizione</h4>
                     <div class="row">
                        <div class="col-lg-6">
                           <label for="fir">Nome<span>*</span></label>
                           <input type="text" id="fir" />
                        </div>
                        <div class="col-lg-6">
                           <label for="last">Cognome<span>*</span></label>
                           <input type="text" id="last" />
                        </div>

                        <div class="col-lg-12">
                           <label for="cun">Paese<span>*</span></label>
                           <input type="text" id="cun" />
                        </div>
                        <div class="col-lg-12">
                           <label for="street">Indirizzo / Via<span>*</span></label>
                           <input type="text" id="street" class="street-first" />
                        </div>

                        <div class="col-lg-12">
                           <label for="cap">Codice postale (CAP)<span>*</span></label>
                           <input type="text" id="street" class="street-first" />
                        </div>
                        <div class="col-lg-12">
                           <label for="town">Città<span>*</span></label>
                           <input type="text" id="town" />
                        </div>
                        <div class="col-lg-6">
                           <label for="email">Indirizzo email<span>*</span></label>
                           <input type="text" id="email" />
                        </div>
                        <div class="col-lg-6">
                           <label for="phone">Cellulare<span>*</span></label>
                           <input type="text" id="phone" />
                        </div>
                        <div class="col-lg-12"></div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="place-order">
                        <h4>Il tuo ordine</h4>
                        <div class="order-total">
                           <ul class="order-table">
                              <li>Prodotti<span>Totale</span></li>
                              <li class="fw-normal">Combination x 1 <span>240.00 €</span></li>

                              <li class="fw-normal">Subtotal <span>240.00 €</span></li>
                              <li class="total-price">Totale<span>240.00 €</span></li>
                           </ul>
                           <div class="payment-check"></div>
                           <div class="order-btn">
                              <div class="discount-coupon">
                                 <h6>Codice sconto</h6>
                                 <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Inserisci il codice promo" />
                                    <button type="submit" class="site-btn coupon-btn">applica</button>
                                 </form>
                              </div>
                              <button type="submit" class="site-btn place-btn">Conferma ordine</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </section>
      <!-- Shopping Cart Section End -->
   </body>
</html>
