<html lang="zxx">
   <body>
      <!-- Page Preloder -->
      <div id="preloder" style="display: none">
         <div class="loader" style="display: none"></div>
      </div>

      <!-- Product Shop Section Begin -->
      <section class="product-shop spad page-details">
         <div class="container">
            <div class="row">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="product-pic-zoom">
                        <img
                           class="product-big-img"
                           src="<[FOTO_PRINCIPALE_PRODOTTO]>"
                           alt="main img"
                        />
                        <img
                           role="presentation"
                           alt=""
                           src="<[FOTO_PRINCIPALE_PRODOTTO]>"
                           class="zoomImg"
                           style="position: absolute; opacity: 0; width: 440px; height: 520px"
                        />
                     </div>
                     <div class="product-thumbs">
                        <div class="product-thumbs-track ps-slider owl-carousel owl-loaded owl-drag">
                           <div class="owl-stage-outer">
                              <div class="owl-stage">
                                 <[foreach]> <[RULLINO_FOTO]> <[/foreach]>
                              </div>
                           </div>
                           <div class="owl-nav">
                              <button type="button" role="presentation" class="owl-prev">
                                 <i class="fa fa-angle-left"></i></button
                              ><button type="button" role="presentation" class="owl-next disabled">
                                 <i class="fa fa-angle-right"></i>
                              </button>
                           </div>
                           <div class="owl-dots disabled"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="product-details">
                        <div class="pd-title">
                           <h3><[NOME_PRODOTTO]></h3>
                           <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                        </div>
                        <div class="pd-desc">
                           <p>
                              <[DESCRIZIONE_PRODOTTO]>
                           </p>
                           <h4><[PREZZO_PRODOTTO]>€<span><[PREZZO_PRODOTTO_PRECEDENTE]></span></h4>
                        </div>
                        <div class="pd-size-choose">
                           <div class="sc-item">
                              <input type="radio" id="sm-size" />
                              <label for="sm-size">s</label>
                           </div>
                           <div class="sc-item">
                              <input type="radio" id="md-size" />
                              <label for="md-size">m</label>
                           </div>
                           <div class="sc-item">
                              <input type="radio" id="lg-size" />
                              <label for="lg-size">l</label>
                           </div>
                           <div class="sc-item">
                              <input type="radio" id="xl-size" />
                              <label for="xl-size">xl</label>
                           </div>
                           <div class="sc-item"><h6 class="pd-tags" style="margin-left: 20px">disponibili: (<[TAGLIA_DISPONIBILITA_PRODOTTO]>)</h6></div>
                       <!-- utilizzero l'url per fare questo -->
                        </div>
                        <div class="quantity">
                           <div class="pro-qty">
                              <span></span>
                              <input type="text" value="1" disabled />
                              <span></span>
                           </div>

                           <a href="#" class="primary-btn pd-cart">aggiungi a carrello</a>
                        </div>
                        <ul class="pd-tags">
                           <li><span>CATEGORIA</span>: <[CATEGORIA_PRODOTTO]></li>
                        </ul>
                        <ul class="pd-tags">
                           <li><span>MARCA</span>: <[MARCA_PRODOTTO]></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="product-tab">
                  <div class="tab-item">
                     <ul class="nav" role="tablist">
                        <li>
                           <a class="" data-toggle="tab" href="#tab-1" role="tab" aria-selected="false">descrizione</a>
                        </li>
                        <li>
                           <a data-toggle="tab" href="#tab-2" role="tab">specifiche</a>
                        </li>
                        <li>
                           <a data-toggle="tab" href="#tab-3" role="tab" class="active" aria-selected="true"
                              >recensioni (<[N_RECENSIONI_PRODOTTO]>)</a
                           >
                        </li>
                     </ul>
                  </div>
                  <div class="tab-item-content">
                     <div class="tab-content">
                        <div class="tab-pane fade-in" id="tab-1" role="tabpanel">
                           <div class="product-content">
                              <div class="row">
                                 <div class="col-lg-7">
                                    <h5>Descrizione prodotto:</h5>
                                    <p><[DESCRIZIONE_PRODOTTO]></p>
                                 </div>
                                 <div class="col-lg-5"></div>
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="tab-2" role="tabpanel">
                           <div class="specification-table">
                              <table>
                                 <tbody>
                                    <tr>
                                       <td class="p-catagory">Valutazione</td>
                                       <td><[VALUTAZIONE_PRODOTTO]> ⭐</td>
                                    </tr>
                                    <tr>
                                       <td class="p-catagory">Prezzo</td>
                                       <td>
                                          <div class="p-price"><[PREZZO_PRODOTTO]>€</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="p-catagory">disponibilità</td>
                                       <td>
                                          <div class="p-stock"><[TOT_DISPONIBILITA_PRODOTTO]> in magazzino</div>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="p-catagory">n° ordinati</td>
                                       <td>
                                          <div class="p-size"><[N_ORDINAZIONI]></div>
                                       </td>
                                    </tr>
                                       <td class="p-catagory">CODICE</td>
                                       <td>
                                          <div class="p-code">#<[ID_PRODOTTO]></div>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                        <div class="tab-pane fade active show" id="tab-3" role="tabpanel">
                           <div class="customer-review-option">
                              <h4><[N_RECENSIONI_PRODOTTO]> Recensioni</h4>
                              <div class="comment-option">
                                 <[foreach]><[RECENSIONI_UTENTI]><[/foreach]>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Product Shop Section End -->
   </body>
</html>
