<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
   <div class="filter-widget">
      <h4 class="fw-title">Genere</h4>
      <div class="fw-brand-check">
         <div class="bc-item">
            <label>
               Uomo
               <input type="checkbox" />
               <span class="checkmark"></span>
            </label>
         </div>
         <div class="bc-item">
            <label>
               Donna
               <input type="checkbox" />
               <span class="checkmark"></span>
            </label>
         </div>
         <div class="bc-item">
            <label>
               Bambino
               <input type="checkbox" />
               <span class="checkmark"></span>
            </label>
         </div>
      </div>
   </div>

   <div class="filter-widget">
      <h4 class="fw-title">Categorie</h4>
      <div class="fw-brand-check"><[foreach]> <[categorie]> <[/foreach]></div>
   </div>

   <!-- elenco delle marche -->
   <div class="filter-widget">
      <h4 class="fw-title">Brand</h4>
      <div class="fw-brand-check"><[foreach]> <[marche]> <[/foreach]></div>
   </div>

   <!-- il prezzo non l'ho proprio toccato ancora -->
   <div class="filter-widget">
      <h4 class="fw-title">Prezzo</h4>
      <div class="filter-range-wrap">
         <div class="range-slider">
            <div class="price-input">
               <input type="text" id="minamount" />
               <input type="text" id="maxamount" />
            </div>
         </div>
         <div
            class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
            data-min="33"
            data-max="98"
         >
            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%"></span>
            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%"></span>
            <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%"></div>
         </div>
      </div>

      <a href="#" class="filter-btn">Filter</a>
      <a href="shop.php" class="btn">RESET</a>
   </div>

   <!-- questo può anche rimanere cosi -->
   <div class="filter-widget">
      <br />
      <h4 class="fw-title">Size</h4>
      <div class="fw-size-choose">
         <div class="sc-item">
            <input type="radio" id="s-size" />
            <label for="s-size">s</label>
         </div>
         <div class="sc-item">
            <input type="radio" id="m-size" />
            <label for="m-size">m</label>
         </div>
         <div class="sc-item">
            <input type="radio" id="l-size" />
            <label for="l-size">l</label>
         </div>
         <div class="sc-item">
            <input type="radio" id="xs-size" />
            <label for="xs-size">xl</label>
         </div>
      </div>
   </div>
   <script src="//code.jquery.com/jquery-1.12.4.js"></script>
   <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   <script>
      console.log("dio")
      $(document).ready(function() {
        $(".checkbox-categoria").on('click', function() {
           if ($(this).is(':checked')) {
              var valore = $(this).val();
              console.log("ciao")
              //inviaRichiesta(valore);
           }
        });
     });

  </script>



</div>
