<footer class="footer-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="footer-left">
               <div class="footer-logo">
                  <a href="#"><img src="img/footer-logo.png" alt="" /></a>
               </div>
               <ul>
                  <li>Indirizzo: Via Roma 1 - Roma</li>
                  <li>Telefono: +39 3246177090</li>
                  <li>Email: progetto@gmail.com</li>
               </ul>
            </div>
         </div>
         <div class="col-lg-3 offset-lg-1">
            <div class="footer-widget">
               <h5>Informazioni</h5>
               <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Serivius</a></li>
               </ul>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="footer-widget">
               <h5>Il mio account</h5>
               <ul>
                  <li><a href="#">Account personale</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Shopping Cart</a></li>
                  <li><a href="#">Shop</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>
